<div class="columns">

  <div class="column is-narrow">

    <section class="hero">
      <div class="hero-body">
        <div class="container">
            <div class="box" style="width: 400px;">
            <img class="is-square" src="../assets/images/AG.png">
            <h1 class="title is-2">
             Abraham Gómez
            </h1>
            <h2 class="subtitle has-text-info-dark">
              Front-End Developer <br>  
            </h2>
            <h2 class="subtitle">
              JavaScript lover 💻 
            </h2>

            <!-- Onlye for moviles -->
            <aside class="menu is-hidden-desktop">

              <ul class="menu-list is-boxed">
                <li [routerLink]="['/about-me']" class="is-active"><a>
                  <span class="icon is-small"><i class="fas fa-address-card"></i></span>
                  Conóceme</a>
                </li>
                <li [routerLink]="['/projects']" ><a>
                  <span class="icon is-small"><i class="fas fa-laptop-code" aria-hidden="true"></i></span>
                  Proyectos</a></li>
                <li [routerLink]="['/skills']"><a>
                  <span class="icon is-small"><i class="fas fa-wrench" aria-hidden="true"></i></span>
                  habilidades</a></li>
              </ul>
            </aside>

            <!-- this is only for desktops and laptops screen -->
            <div class="tabs is-centered is-boxed is-small is-hidden-touch">
              <ul>
                <li [routerLink]="['/about-me']" class="is-active"><a>
                  <span class="icon is-small"><i class="fas fa-address-card"></i></span>
                  Conóceme</a>
                </li>
                <li [routerLink]="['/projects']" ><a>
                  <span class="icon is-small"><i class="fas fa-laptop-code" aria-hidden="true"></i></span>
                  Proyectos</a></li>
                <li [routerLink]="['/skills']"><a>
                  <span class="icon is-small"><i class="fas fa-wrench" aria-hidden="true"></i></span>
                  habilidades</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>
    
    <section class="section">
      <div class="container">

        <div class="box">

          <h1 class="title">Contactame</h1>
          
          <div class="columns is-mobile is-multiline is-centered">
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-linkedin"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-github-square"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fab fa-3x fa-twitter-square"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon has-text-info-dark">
                <i class="fas fa-3x fa-envelope-square"></i>
              </span>
            </div>
          </div>

        </div>
        
      </div>
    </section>

  </div>

  <div class="column">
    
    <router-outlet></router-outlet>

  </div>

</div>